<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deeplinking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deeplinking">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GalatasarayAct" />
        <activity android:name=".BesiktasAct" />
        <activity android:name=".OrdusporAct" />
        <activity
            android:name=".LinkReceiverActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*mobilhanem.com"
                    android:pathPrefix="/takim/"
                    android:scheme="http" />
                <data
                    android:host="*mobilhanem.com"
                    android:path="/takim/"
                    android:scheme="https" />
            </intent-filter>

        </activity>
    </application>

</manifest>